html{
	scroll-behavior: smooth;
}

body {
	max-width: 100%;
	font-family: Muli, sans-serif;
	margin: 0px;

}

.textDiv{
	margin: 48px;

/*	color: skyblue;*/
}

.imgDiv{
/*	margin: 7%;*/
	width: 100%; 

	background: white;
}

img{
	width: 100%;
	display: block
}

h1{
	font-family: Muli, sans-serif;
}

p{
	font-family: quicksand, sans-serif;

	text-align: justify;
	line-height: 1.5;
}

a{
	text-decoration: none;
}

a:link{
	color: #0E5D96;
}

a:visited{
	color: #1A3C6E;
}

ul{
	height: inherit;
	list-style: none;

	margin: 0;
	padding-left: 40px;

/*	font-style: italic;*/

}

li{
/*	padding-top: 29px;*/


	display: inline-block;
	float: left;

}

li a{
	padding: 29px;
	width: inherit;

	border-radius: 10px 10px 0 0; 

	text-decoration: none;

	transition: 1s;

}


li :hover{
/*	background-color: #1A3C6E;*/
	color: skyblue;

	transition: 0.2s;
}

#LogoDiv{

	height: 190px;
	width: 100%;
	margin-top: -1px;
	padding-top: 1px;

	background-color: #1A3C6E; 
/*	background-color: red;*/

}

#Navbar{
	list-style: none;
	display: inline-block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #1A3C6E;

}

ul{
	list-style: inherit;
	display: inline-block;
	float: left;

	padding: inherit;
	margin: inherit;
}

li{
	display: inherit;
	float: inherit;

	padding-top: 29px;
}

.MainDiv{
	min-height: 536.396px;
	width: 100%;
	overflow-y: hidden;
	padding-bottom: 6.29%;

}

.Columns{
	height: auto;
	width: 50%;

	float: left;

	background-color: skyblue;
	color: white;


/*    margin-left: 3%;
    margin-top: 4.943%;

    border-radius: 25px;*/

}